<div class="py-3 text-center border-top">
    <div class="banner">
      <div class="text-center my-3">
      <a href="https://www.immuni.italia.it/download.html" target="_blank" title="App Immuni. Un piccolo gesto, per un grande Paese.">
      <img class="img-fluid" src="{{ site.baseurl }}/assets/images/immuni-320x50.jpg">
      </a>
      </div>
    </div><!--/banner-->
</div>

<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-12 col-sm-6 col-md-4">
            {% include footer/footer-col-1.html %}
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            {% include footer/footer-col-2.html %}
          </div>
          <div class="col-12 col-md-4">
            {% include footer/footer-col-3.html %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="sr-only">Sezione Link Utili</h3>
          <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
            {% for footer-link in site.data.t.footer-links[page.lang] %}
            <li class="list-inline-item"><a href="{{ site.baseurl }}{{ footer-link[1].url }}"
                                            title="{{ footer-link[1].name }}">{{ footer-link[1].name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-12">
          <div class="mx-3 mx-md-0 mb-5">
            <img src="{{ site.baseurl }}/assets/images/logo-pagopa-spa.png" alt="PagoPA SpA" width="150" class="float-md-left d-none d-md-inline">
            <small class="text-white">
              PagoPA S.p.A. - società per azioni con socio unico - capitale sociale di euro 1,000,000 interamente versato - sede
              legale in Roma, Piazza Colonna 370, CAP 00187 - n. di iscrizione a Registro Imprese di Roma, CF e P.IVA
              15376371009
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
