#
# This file contains configuration flags to customize your site
#
environment: "production"

name: "pagoPA"

#
# Flags below are optional
#

# Prevent site from being indexed by search engines
# Leave empty to publish the website
noindex:

# Enter your mailup newsletter ID
mailup_campaign: a3i3i3
mailup_list: 2

# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus:

# Enter your Google Analytics web tracking code (e.g. UA-000000000-0) to activate tracking
google_analytics: UA-139250396-1
google_captcha: 6LcBa7AaAAAAAEb8kvsHtZ_09Ctd2l0XqceFUHTe

# Your website URL (e.g. http://example.github.io or http://www.example.com)
# Used for Sitemap.xml and your RSS feed
url: "https://www.pagopa.gov.it"

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title/

# The release of Jekyll Now that you're using
version: v3.8.5

# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed # You might prefer to minify using :compressed

# whitelist to use to refer a doc as external or not
docwhitelist:
  - https://github.com/pagopa/
  - https://raw.githubusercontent.com/pagopa/
  - https://docs.italia.it/

# Use the following plug-ins
plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-redirect-from # Give your Jekyll posts and pages multiple URLs
  - jekyll-minifier # Give your Jekyll posts and pages multiple URLs

future: true

collections:
  ptqualificati:
    output: true
    permalink: /it/pubbliche-amministrazioni/partner-qualificati/:name
  posts:
    output: true
    permalink: /it/notizie/:name

defaults:
  - scope:
      path: ""
      type: "ptqualificati"
    values:
      layout: partner-qualificato

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - vendor

jekyll-minifier:
  exclude:
    - 'assets/dashboard/**'
  preserve_php: true                # Default: false
  remove_spaces_inside_tags: true   # Default: true
  remove_multi_spaces: true         # Default: true
  remove_comments: true             # Default: true
  remove_intertag_spaces: true      # Default: false
  remove_quotes: false              # Default: false
  compress_css: false                # Default: true
  compress_javascript: true         # Default: true
  compress_json: true               # Default: true
  simple_doctype: false             # Default: false
  remove_script_attributes: false   # Default: false
  remove_style_attributes: false    # Default: false
  remove_link_attributes: false     # Default: false
  remove_form_attributes: false     # Default: false
  remove_input_attributes: false    # Default: false
  remove_javascript_protocol: false # Default: false
  remove_http_protocol: false       # Default: false
  remove_https_protocol: false      # Default: false
  preserve_line_breaks: false       # Default: false
  simple_boolean_attributes: false  # Default: false
  compress_js_templates: false      # Default: false
  preserve_patterns:                # Default: (empty)
  uglifier_args:
    harmony: true
    