---
---

.it-hero-wrapper {
  // ONLY FOR VIDEO IN HOME
  height: 70vh;
  min-height: auto;
  @media (min-width: 768px) {
    height: auto;
  }
  video {
    width: auto;
    height: 100%;
    margin-left: -50vw;

    @media (min-width: 768px) {
      width: 100%;
      height: auto;
      margin-left: auto;
      aspect-ratio: auto 16 / 9;
    }
  }
  &.it-bottom-overlapping-content .it-hero-text-wrapper {
    padding-bottom: 3rem;
    @media (min-width: 768px) {
      padding-bottom: 240px;
    }
  }
}
.it-hero-wrapper .it-hero-text-wrapper p {
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
}
.it-hero-wrapper.it-bottom-overlapping-content {
  margin-bottom: auto;
}
h1,
h2,
h3 {
  color: #17324d;
}

a.read-more {
  text-decoration: none;
}

.it-list-wrapper .it-list a:hover {
  box-shadow: none;
  color: #06c;
}

#mainlogo {
  height: 32px;
  width: auto;
  @media (min-width: 768px) {
    height: auto;
  }
}

.breadcrumb-item a {
  text-decoration: none;
}
.it-header-wrapper {
  .it-header-slim-wrapper {
    .navbar.navbar-institutional {
      background-color: transparent;

      .navbar-brand {
        font-size: 0.778em;
        font-weight: 400;
      }

      .navbar-nav {
        .nav-item {
          padding: 0.5rem 0;

          .nav-link {
            color: #06c;
            font-size: 14px;
            font-weight: 300;
            padding: 0 0.75rem;
          }

          &:hover {
            @media (min-width: 992px) {
              box-shadow: 0 0.25rem 0 0 #06c;
            }
          }

          &.nav-item-w-divider .nav-link {
            @media (min-width: 992px) {
              border-right: 1px solid #fff;
            }
          }
        }
      }
    }
  }
  .it-header-navbar-wrapper .navbar .navbar-collapsable {
    z-index: 100;
  }
  .it-header-navbar-wrapper .navbar .navbar-collapsable .menu-wrapper {
    .navbar-nav li {
      &:first-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-left: 8px;
          }
        }
      }
      &:last-child {
        a.nav-link {
          @media (min-width: 992px) {
            padding-right: 8px;
          }
        }
      }
      a.nav-link {
        @media (min-width: 992px) {
          padding: 12px;
          font-size: 0.888rem;
        }
        @media (min-width: 1200px) {
          padding: 12px 24px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    min-width: 16rem;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#jobsarchive-collapse {
  &[aria-expanded="false"] {
    .seeall {
      display: inline;
    }
    .hideall {
      display: none;
    }
  }
  &[aria-expanded="true"] {
    .seeall {
      display: none;
    }
    .hideall {
      display: inline;
    }
  }
}

#recruitform {
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 6px #06c;
  border-top: solid 6px #06c;
}

.breadcrumb-container .breadcrumb {
  font-size: 16px;
}

body.page--partner-qualificati-elenco,
body.page--partner-intermediari-elenco {
  .filterPartner,
  .filterIntermediario {
    .form-check {
      margin: 0;
      label {
        font-size: 0.888rem;
        margin-bottom: 0;
      }
    }
    #collapseFilters {
      height: 50vh;
      overflow-y: scroll;
      padding: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      -webkit-box-shadow: 0 20px 30px 5px rgba(0, 0, 0, 5%);
      box-shadow: 0 20px 30px 5px rgba(0, 0, 0, 5%);
    }
    &__title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.888rem;
      color: #17324d;
      margin: 0.5rem 0;
    }
    &__select {
      color: #475a6d;
      font-size: 0.888rem;
      cursor: pointer;
      &[aria-expanded="true"] {
        .filterPartner__expand {
          display: none;
        }
      }
      &[aria-expanded="false"] {
        .filterPartner__collapse {
          display: none;
        }
      }
    }
  }
  .orderPartner,
  .orderIntermediari {
    &__title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.888rem;
      color: #17324d;
      margin: 0.5rem 0;
    }
    label {
      color: #475a6d;
      font-size: 0.888rem;
    }
    .form-check {
      margin: 0;
    }
  }

  .partner-table__detail {
    .modal-title {
      font-size: 1.75rem;
      font-weight: 700;
      color: #17324d;
    }
    .modal-content {
      margin: 1rem;
    }
    &__number {
      font-size: 0.88rem;
      color: #0066cc;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      margin: 0.5rem 0 1rem 0;
    }
    .tipi-qualificati {
      border: none;
      &__label {
        font-size: 0.88rem;
      }
      &__title {
        font-size: 0.88rem;
        border-bottom: 1px solid #e6e9f2;
      }
    }
  }
}

.link-list {
  .dummy {
    a {
      font-weight: 500;
      pointer-events: none;
      font-size: 0.76em;
      @media (min-width: 992px) {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .sub {
    @media (min-width: 992px) {
      padding-left: 0.5rem;
    }
  }
}

.it-hero-wrapper .it-hero-text-wrapper {
  @media (min-width: 768px) {
    padding: 48px 34px;
  }
  @media (min-width: 992px) {
    padding: 48px 40% 48px 34px;
  }
}

.logopagopaspa {
  width: 130px;
  @media (min-width: 992px) {
    width: 250px;
  }
}
.logo-pagopa-circuito {
  width: 130px;
  margin-right: 16px;
}

.it-footer {
  a.text-muted {
    color: #9bb7cb !important;
  }
}
.videobuttons {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 1rem;
  width: 100%;

  img {
    height: 16px;
    width: auto;
  }
  .playing &__play {
    display: none;
  }
  .playing &__pause {
    display: inline;
  }
  .stopped &__play {
    display: inline;
  }
  .stopped &__pause {
    display: none;
  }
}

.vertical {
  padding: 0;
  height: 10px;
  margin-left: 12px;

  @media (min-width: 992px) {
    border-left: 1px solid #ccc;
    border-left-width: 1px;
    height: 75px;
    padding: 8px;
    margin-left: 22px;
  }
}

.cookiebar.show.notnow {
  display: none !important;
}

.grecaptcha-badge {
  display: none;
}

.text-discreet {
  color: rgb(167, 167, 167);
}

.it-helpdesk {
  &-icon {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 100%;
    background-color: #fff;
  }
  &-anchor {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.it-logo-pagopa {
  height: 54px;
  width: auto;
}

.page-title {
  font-size: 2.25rem;
  line-height: 2.4rem;
  color: #17324d;
  margin-top: 2rem;
}
.page-desc {
  color: #17324d;
  font-size: 1.13rem;
  line-height: 1.4;
  margin: 1rem 0;
  p {
    margin-bottom: 0.25rem;
    line-height: 1.4;
  }
  @media (min-width: 992px) {
    font-size: 1.34rem;
  }
}

.component-grid,
.component-grid-simple {
  .card {
    &:after {
      display: none;
    }
    &.card-big .card-body {
      padding: 1.33rem;
    }
  }
  &.img-64 {
    .top-icon img {
      width: auto;
      height: 40px;
      @media (min-width: 992px) {
        height: 64px;
      }
    }
  }

  .card-wrapper {
    @media (min-width: 992px) {
      height: 100%;
    }
    .read-more {
      text-decoration: none;
      position: relative;
      bottom: auto;
      margin-top: 3rem;
      @media (min-width: 992px) {
        margin-top: 2rem;
      }
    }
    .card-pretitle {
      color: #0073e6;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .card-body .card-text {
      font-size: 1rem;
      line-height: 1.5;
      color: #17324d;
    }
  }
  &__container {
    margin-right: -5px;
    margin-left: -5px;
  }
  .with-border {
    @media (min-width: 992px) {
      border-right: 1px solid #e6e9f2;
    }
  }
  &__item {
    flex-basis: 100%;
    padding: 10px;
    &.by-2 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      @media (min-width: 992px) {
        max-width: 50%;
      }
    }
    &.by-3 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33.3%;
      @media (min-width: 992px) {
        max-width: 33.3%;
      }
    }
    &.by-4 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;
      @media (min-width: 992px) {
        max-width: 25%;
      }
    }
    &__title {
      font-size: 1.3rem;
      line-height: 1.2;
      font-weight: 600;
      margin: 0.5rem 0;
      color: #17324d;
      @media (min-width: 992px) {
        margin: 1rem 0;
      }
    }
    &__text {
      color: #17324d;
    }
    &__wrapper {
      padding-right: 1rem;
      padding-left: 1rem;
      @media (min-width: 992px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
    }
  }
}
.component-grid-by-step {
  .with-border {
    @media (min-width: 992px) {
      border-right: 1px solid #e6e9f2;
    }
  }
  &__inner {
    padding: 0 1rem;
  }
  &__number {
    color: #0073e6;
    font-weight: 600;
    font-size: 1.55rem;
    margin: 0.5rem 0;
    line-height: 1.1;
    @media (min-width: 992px) {
      margin: 0;
    }
  }
  &__title {
    color: #17324d;
    font-size: 1.3rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0;
  }
}
.component-grid-paragraph {
  &__par p {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #17324d;
    margin: 0.5rem 0 1rem 0;
    padding-right: 0;
    text-align: center;
    @media (min-width: 992px) {
      padding-right: 0.5rem;
      font-size: 1.8rem;
      text-align: left;
    }
  }
}
.component-footer-banner {
  background-color: #f2f7fc;
  padding: 2rem 0;
  @media (min-width: 992px) {
    padding: 3rem 0;
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    color: #0066cc;
    margin: 1rem 0;
    @media (min-width: 992px) {
      font-size: 1.8rem;
    }
  }
  &__desc {
    text-align: center;
    color: #0066cc;
    padding: 0 1rem;
    p {
      margin: 0;
    }
  }
  &__cta {
    margin: 1rem 0;
  }
}
.component-sidebarnav {
  &.navbar.it-navscroll-wrapper {
    z-index: 100;
    .link-list-wrapper ul li a {
      text-align: left;
    }
  }
}
.component-text-block {
  &__label {
    font-size: 1rem;
    color: #475a6d;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__title {
    color: #17324d;
    font-weight: 700;
    margin: 0.75rem 0;
    font-size: 1.6rem;
    line-height: 1.1;
    @media (min-width: 992px) {
      font-size: 2.1rem;
      line-height: 1.2;
    }
  }
  &__body {
    font-size: 1.13rem;
    line-height: 1.3;
    color: #17324d;
    @media (min-width: 992px) {
      font-size: 1.34rem;
    }
  }
  &__img__wrapper {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    @media (min-width: 992px) {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
  &__img__inner {
    padding-bottom: inherit;
    height: 100%;
    position: initial;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      display: block;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.component-dashboard {
  &__item {
    @media (min-width: 992px) {
      margin-right: 3rem;
    }
    &__value {
      color: #0073e6;
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 700;
      margin: 1rem 0;
    }
    &__desc {
      color: #17324d;
      font-weight: 600;
      line-height: 1.1;
    }
  }
}
.component-posts {
  &__item {
    &__title {
      font-size: 1.1rem;
      font-weight: 700;
      color: #1c2024;
    }
    &__date {
      color: #475a6d;
      font-size: 0.888rem;
    }
  }
}

.heading-border-bottom {
  box-shadow: 0px 1px 0px #e6e9f2;
}

.elencopsp__search__wrapper {
  width: 100%;
  .form-control {
    border-radius: 0;
  }
  .input-group-append {
    border-bottom: 1px solid #5c6f82;
  }
  label {
    z-index: 1;
    width: 100% !important;
  }
}

.dataTable {
  th {
    text-transform: uppercase;
    color: #475a6d;
    font-size: 0.88rem;
    padding-left: 0;
  }
  tbody tr {
    td {
      padding: 0.8rem 0;
      color: #17324d;
      border-bottom: 1px solid #e6e9f2;
    }
  }
  .elencopsp {
    &__denominazione {
      font-weight: 600;
    }
    &__data {
      font-family: "Roboto Mono", Courier;
      font-size: 0.9rem;
    }
  }

  .badge {
    background-color: #17324d;
    color: #fff;
  }
}
.dataTables_wrapper {
  .paginate_button {
    padding: 0 0.4rem;
    color: #0073e6;
    font-size: 0.88rem;
    cursor: pointer;
    &.current {
      color: #475a6d;
    }
  }
  .dataTables_info {
    color: #475a6d;
    font-size: 0.88rem;
  }
}

.tipi-qualificati {
  border-top: 1px solid #e6e9f2;
  &__title {
    font-size: 1.3rem;
    line-height: 1.2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.banner-app {
  &__inner {
    box-shadow: 0px 0px 30px rgba(0, 43, 85, 0.1);
    background-color: #fff;
    padding: 2rem;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__body {
    margin-top: 1rem;
    flex: 1;

    .icon {
      background-color: #00cf86;
      padding: 2px;
      border-radius: 100%;
      line-height: 1.4;
    }
    .list-item {
      line-height: 1.4;
    }
    @media (min-width: 992px) {
      margin-top: 2rem;
    }
  }
  &__preview {
    img {
      @media (min-width: 992px) {
        position: absolute;
        right: 0;
        z-index: 1;
      }
    }
  }
}
.wvideo {
  .playvideo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .playvideoicon {
      width: 100px;
      height: 100px;
      position: absolute;
      display: block;
      z-index: 1;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
    }
  }
}

.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper__close {
  position: absolute;
  top: -50px;
  right: 0px;
  cursor: pointer;
  z-index: 9999;
  @media (max-width: 767px) and (orientation: landscape) {
    display: none;
  }
}

.section-newsletter {
  background-color: #005ebd;
  .verysmall {
    font-size: 0.7rem;
  }
  .text-white {
    a {
      color: #fff;
    }
  }
  .extraprivacy {
    color: #fff;
    opacity: 0.6;
    a {
      color: #fff;
    }
  }
  &__title {
    color: #fff;
    text-align: center;
    font-size: 1.75rem;
  }
  &__image {
    margin: 0 auto;
    display: block;
  }
  .form-check [type="checkbox"]:not(:checked) + label::after {
    border-color: #fff;
  }
  .form-group {
    @media (min-width: 992px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    label {
      z-index: 1;
      width: 100%;
      font-weight: normal;
      color: #5c6f82;
      font-size: 0.88rem;
      &.active {
        display: none;
      }
    }
    #newsletteremail {
      border-bottom-right-radius: 0.5rem !important;
      border-top-right-radius: 0.5rem !important;
    }
    .input-group-prepend .input-group-text {
      border-bottom-left-radius: 0.5rem !important;
      border-top-left-radius: 0.5rem !important;
      padding-left: 1rem;
    }
  }
}

body.layout--simple {
  .entry p,
  .entry p + ol li,
  .entry p + ul li {
    font-family: Lora, Times;
    color: #17324d;
    line-height: 1.6;
  }
}

.postpage {
  &__caption {
    color: #475a6d;
    font-size: 0.888rem;
    margin-top: 0.5rem;
  }
  &__date {
    font-size: 1rem;
    font-weight: 600;
    color: #17324d;
    & + .page-title {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
  &__entry {
    font-family: Lora, Times;
    color: #17324d;
  }
  &__img {
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__faq {
    .collapse-header button {
      padding-left: 0;
      padding-right: 0;
      &:focus,
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }
    .collapse-body {
      padding: 1rem 0;
      font-size: 0.88rem;
    }
  }
}
.it-list-wrapper .it-list a .avatar,
.it-list-wrapper .it-list a .it-rounded-icon,
.it-list-wrapper .it-list a .it-thumb {
  margin-left: 0;
  @media (min-width: 992px) {
    margin-left: 1.5rem;
  }
}

body[class|="page--prestatori-servizi-di-pagamento"] {
  .tooltip-psp {
    cursor: pointer;
    line-height: 1;
  }
  .tooltip {
    background-color: #fff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    color: #000;
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      right: -8px;
      border-left: 8px solid #fff;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }
  .tooltip-inner {
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 1rem;
    h5 {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #000;
      text-transform: uppercase;
      text-align: left;
    }
    span {
      font-size: 14px;
      line-height: 18px;
      text-align: left;
    }
  }
}

// trasparenza
.psp-compare {
  &__result__logo img {
    max-height: 32px;
    height: auto;
    max-width: 150px;
  }
  &__results__header {
    visibility: hidden;
    &.on {
      visibility: visible;
    }
  }
}
body.page--cittadini-trasparenza-costi {
  .component-grid-by-step__number {
    @media (max-width: 991px) {
      margin: 0;
      font-size: 1.3rem;
    }
  }
}

//animations
.animate {
  &.fade-in {
    visibility: hidden;
  }
}
.fade-in-bottom {
  visibility: visible !important;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
