<div class="banner-app">
    <div class="row">
        <div class="col-12 col-md-6 d-md-flex">
            <div class="banner-app__inner  ">
                        <div class="banner-app__title d-flex align-items-center">
                            <span>Paga con IO</span>
                            <img class="ml-auto" src="/assets/images/logo-io-servizi.svg" alt="Logo App IO">
                        </div>
                        <div class="banner-app__body d-flex flex-column">
                            <ul class="list-unstyled mb-3 mb-md-5">
                                <li class="list-item">
                                    <svg class="icon icon-sm icon-white mr-2">
                                        <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
                                    </svg>
                                    Usa i metodi di pagamento salvati nel tuo Portafoglio 
                                </li>
                                <li class="list-item my-2">
                                    <svg class="icon icon-sm icon-white mr-2">
                                        <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
                                    </svg>
                                    Scegli il gestore della transazione (PSP) a te più conveniente
                                </li>
                                <li class="list-item">
                                    <svg class="icon icon-sm icon-white mr-2">
                                        <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
                                    </svg>
                                    Conserva le ricevute in un unico posto 
                                </li>
                            </ul>
                            <div class="mt-auto">
                                <a role="button" href="https://io.italia.it" title="Scarica l'app" class="btn btn-sm btn-primary px-5 mr-md-2 mb-2 d-block d-md-inline">Scarica l'app</a>
                                <a role="button" href="#" title="Guarda il video" class="btn btn-sm btn-outline-primary px-5 playvideo mb-2 mb-md-0 d-block d-md-inline"
                                data-url="https://www.youtube-nocookie.com/embed/2URN1LNLpbU?rel=0" 
                                >Guarda il video</a>
                            </div>
                        </div>
            </div><!--/banner-app__inner-->
        </div>
    <div class="col-12 col-md-6 d-md-flex">
        <div class="banner-app__inner d-flex flex-column mt-2 mt-md-0">
                    <div class="banner-app__title d-flex align-items-center">
                        <span>Non hai l’app? Paga online</span>
                    </div>
                    <div class="banner-app__body d-flex flex-column">
                        <p class="mb-3">Puoi pagare con carta, conto e app di pagamento. 
                            <strong>Potrai scegliere il gestore della transazione (PSP) a te più conveniente.</strong></p>
                        <div class="mt-auto">
                            <a role="button" rel="nofollow" href="https://checkout.pagopa.it/" title="Paga ora" class="btn btn-sm btn-primary px-5 mr-md-2 mb-2 d-block d-md-inline" data-ga-send-title="Paga con Checkout"
                            >Paga ora</a>
                        </div>
                    </div>
        </div><!--/banner-app__inner-->
    </div><!--col -->
    </div><!--/row-->
</div>
{% include videoplayer.html %}
