<div id="__next">
  <main>
    <div class="container">
      <div class="d-none d-md-block text-right small">
        Ultimo aggiornamento: <span>#</span>
      </div>
    </div>
    <div class="affix-top bg-white page_affix-top__0B1Fd">
      <div class="container">
        <nav>
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item TabsNav_nav-item__cX7gq">
              <button
                class="btn btn-link nav-link TabsNav_nav-link__umQF8 active"
                role="tab"
              >
                Totale
              </button>
            </li>
            <li class="nav-item TabsNav_nav-item__cX7gq">
              <button
                class="btn btn-link nav-link TabsNav_nav-link__umQF8"
                role="tab"
              >
                2024
              </button>
            </li>
            <li class="nav-item TabsNav_nav-item__cX7gq">
              <button
                class="btn btn-link nav-link TabsNav_nav-link__umQF8"
                role="tab"
              >
                2023
              </button>
            </li>
            <li class="nav-item TabsNav_nav-item__cX7gq">
              <button
                class="btn btn-link nav-link TabsNav_nav-link__umQF8"
                role="tab"
              >
                2022
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <section>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <div class="card card-bg h-100 m-0 no-after bg-primary text-white">
              <div class="card-body">
                <h6>
                  Totale transazioni
                  <!-- -->dal 2016<!-- -->
                  <span
                    tabindex="0"
                    class=""
                    data-bs-toggle="tooltip"
                    title="Totale delle operazioni di pagamento gestite dal primo anno di operatività della piattaforma."
                    ><img
                      class="icon icon-xs icon-white mb-1"
                      src="/assets/dashboard//_next/static/media/it-info-circle.d764e0b3.svg"
                      style="filter: invert(100%)"
                      alt="info"
                  /></span>
                </h6>
                <span class="d-block h3 font-weight-semibold">#</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card card-bg h-100 m-0 no-after bg-primary text-white">
              <div class="card-body pl-3 pr-3">
                <h6>Controvalore economico</h6>
                <span class="d-block h3 font-weight-semibold">#</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card card-bg h-100 m-0 no-after bg-primary text-white">
              <div class="card-body">
                <h6>Importo transazione media</h6>
                <span class="d-block h3 font-weight-semibold">#</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="card card-bg h-100 m-0 no-after">
          <div class="card-body mb-3">
            <h5 class="font-weight-semibold">
              Transazioni gestite da pagoPA nel tempo
            </h5>
            <div class="TrxSection_chart-wrapper__RavPC">
              <div class="w-100 h-100" id="chart-content"></div>
            </div>
          </div>
        </div>
        <div class="card card-bg h-100 m-0 no-after">
          <div class="card-body mb-3">
            <h5 class="font-weight-semibold">
              Transazioni per
              <!-- -->anno
            </h5>
            <div class="TrxSection_chart-wrapper__RavPC">
              <div class="w-100 h-100" id="chart-content"></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row my-3">
          <div class="col-md-6">
            <div class="card card-bg h-100 m-0 no-after">
              <div class="card-body">
                <h5 class="font-weight-semibold">
                  Principali Categorie di Enti Creditori
                </h5>
                <p class="small">Ordinate per numero di transazioni</p>
                <div class="w-100 h-100" id="chart-content"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3 mt-md-0">
            <div class="card card-bg h-100 m-0 no-after">
              <div class="card-body">
                <h5 class="font-weight-semibold">Principali PSP</h5>
                <p class="small">
                  Ordinati per numero di transazioni<!-- -->
                  <span
                    tabindex="0"
                    data-bs-toggle="tooltip"
                    title="Transazioni gestite da pagoPA tramite il singolo Prestatore di Servizio di Pagamento, dalla sua adesione alla piattaforma."
                    ><img
                      class="icon icon-xs mb-1"
                      src="/assets/dashboard//_next/static/media/it-info-circle.d764e0b3.svg"
                      alt="Info"
                  /></span>
                </p>
                <div class="w-100 h-100" id="chart-content"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="card card-bg h-100 m-0 no-after">
          <div class="card-body my-3">
            <h5 class="font-weight-semibold">
              Transazioni per fasce d&#x27;importo
            </h5>
            <div class="AmountSection_chart-wrapper__3g1jU">
              <div class="w-100 h-100" id="chart-content"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<script id="__NEXT_DATA__" type="application/json">
  {
    "props": { "pageProps": {} },
    "page": "/",
    "query": {},
    "buildId": "fixed-build-id",
    "assetPrefix": "/assets/dashboard",
    "nextExport": true,
    "autoExport": true,
    "isFallback": false,
    "scriptLoader": []
  }
</script>
