<div>
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-md-4 py-1">
                <div class="card" id="card-no-border">
                    <div class="card-body text-center">
                        <h4 > Totale transazioni
                            <span tabindex="0" data-toggle="tooltip" title="Numero totale di transazioni gestite dal nodo pagoPa da quando è stato attivato nel 2016"
                             class="">
                                <svg class="icon icon-sm icon-primary align-top">
                                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                                  </use>
                                </svg>
                             </span>
                        </h4>
                        <h5 id="totalt" >  # </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 >Importo totale
                            <span tabindex="0" data-toggle="tooltip" title="Miliardi di euro transati dal nodo pagoPa da quando è stato attivato"
                            class=" ">
                                <svg class="icon icon-sm icon-primary align-top">
                                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                                  </use>
                                </svg>
                             </span>
                        </h4>
                        <h5 id="eTotal" >€ </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card border-0">
                    <div class="card-body text-center">
                            <h4 >Tasso di crescita  
                                <span tabindex="0" data-toggle="tooltip" title="Tasso di crescita annuo calcolato da oggi fino ad un anno fa vs lo stesso periodo di due anni fa "
                                class=" icon-primary">
                                  <svg class="icon icon-sm align-top">
                                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                                    </use>
                                  </svg>
                               </span>
                            </h4>
                        <h5 id="growthRate" ># </h5>

                    </div>
                </div>
            </div>
        </div>
      <div class="row my-3">
        <div class="col-md-4 py-1">
            <div class="card">
                <div class="card-body text-center">
                    <h4 >Transazioni 2019
                        <span tabindex="0" data-toggle="tooltip" title="# Numero totale di transazioni ed euro gestiti dal nodo pagoPa nell'anno 2019"
                        class=" icon-primary">
                            <svg class="icon icon-sm align-top">
                              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                              </use>
                            </svg>
                         </span>
                    </h4>
                    <h5 id="2019t" ># 2154312</h5>
                    <h5 id="2019e" >€ 8,341,588,984</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card">
                <div class="card-body text-center">
                    <h4 >Transazioni 2020
                        <span tabindex="0" data-toggle="tooltip" title="# Numero totale di transazioni ed euro gestiti dal nodo pagoPa nell'anno 2020"
                        class=" icon-primary">
                            <svg class="icon icon-sm align-top">
                              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                              </use>
                            </svg>
                         </span>
                    </h4>
                    <h5 id="2020t" ># 2154312</h5>
                    <h5 id="2020e" >€ 15431212121</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card border-0">
                <div class="card-body text-center">
                    <h4 >Previsioni 2020
                        <span tabindex="0" data-toggle="tooltip" title="Previsioni del numero di transazoni e di euro fino a fine 2020 "
                        class=" icon-primary">
                            <svg class="icon icon-sm align-top">
                              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle">
                              </use>
                            </svg>
                         </span>
                    </h4>
                    <h5 id="predTotal" ># </h5>
                    <h5 id="predEuro" >€ </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-12 py-1">
            <div class="card border-0">
                <h5 class="card-title text-center"># Transazioni mensili</h5>
                <p class="card-text text-center">Numero di transazioni mensili accumulate e gestite dal nodo pagoPa nel tempo</p>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="totalPred"></canvas>
                </div>
            </div>
        </div>
    </div>
      <div class="row my-1">
        <div class="col-md-12 py-1">
            <div class="card border-0">
                <h5 class="card-title text-center"># Transazioni 2019 vs 2020</h5>
                <p class="card-text text-center"># Numero di transazioni mensili negli anni 2019 e 2020</p>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="byMonth"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6 py-1">
            <div class="card ">
                <h5 class="card-title text-center"># Top 5 enti creditori</h5>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="top10EdcPie"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-1">
            <div class="card border-0">
                <h5 class="card-title text-center"># Top 5 PSP</h5>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="top10PSPPie"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-12 py-1">
            <div class="card border-0">
                <h5 class="card-title text-center"># Top 5 enti creditori 2019 vs 2020</h5>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="top10Edc"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-12 py-1">
            <div class="card border-0">
                <h5 class="card-title text-center"># Top 5 PSP 2019 vs 2020</h5>
                <div class="card-body">
                    <canvas class="shadow rounded p-3 " id="top10PSP"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>


</div>