<div>
  <a href="https://checkout.pagopa.it/dona.html" target="_blank" rel="noopener noreferrer" class="ukraine-donation-link d-block py-3">
    <div class="container">
      <div class="small ukraine-donation-link-inner">
        <img class="ukraine-donation-link-icon" src="{{ site.baseurl }}/assets/images/ukraine-donation/hand-heart.svg" alt="Icona di una mano con sopra un cuore" />
        <span class="ukraine-donation-link-text">Fai una donazione per sostenere le vittime civili della crisi umanitaria in Ucraina</span>&nbsp;&nbsp;→
      </div>
    </div>
  </a>
</div>