{% assign psp = site.data.psp | where_exp: "item", "item.Denominazione != nil" |  sort: 'Denominazione' %}
{% assign outofdate = site.data.psp-outofdate %}
{% assign last_update = psp[1].last_update %}
<div class="row">
	<div class="col-md-8 mb-2 mb-md-4">
		<h1 class="page-title" >{{ page.title_hero | default: page.title }}</h1>
		<div class="small text-muted">Ultimo aggiornamento: {% include date.html date=last_update %}</div>
	</div>
	<div class="col-md-4 d-flex align-items-center">
		<div class="form-group m-0 elencopsp__search__wrapper">
			<div class="input-group">
			  <label for="elencopsp__search">Cerca per nome o CF</label>
			  <input type="text" class="form-control" id="elencopsp__search" name="elencopsp__search">
			  <div class="input-group-append align-items-center">
				<svg class="icon icon-sm  "><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use></svg>
			  </div>
			</div>
		  </div>
	</div>
</div>
<table id="elencopsp" class="display w-100 table table-responsive">
	<thead>
		<tr>
			<th >Nome</th>
			<th  ></th>
			<th data-visible="false" >CF</th>
		</tr>
	</thead>
	<tbody>
		{% for item in psp %}

			<tr>
				<td class="elencopsp__denominazione">
					<a href="/it/prestatori-servizi-di-pagamento/elenco-PSP-attivi/BMPS2">{{item.Denominazione }}</a>
					
				</td>
				<td class="elencopsp__ofd" >
					{% if outofdate contains item.CodiceFiscale %}
					<div class="tooltip-psp" data-toggle="tooltip" data-placement="left" data-html="true" 
						 title="<h5>PSP Non aggiornato</h5><span>Il PSP non ha ancora recepito le più recenti specifiche attuative, pertanto i pagamenti potrebbero non andare a buon fine.</span>">
						<svg class="icon icon-sm icon-warning">
							<use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-warning-circle"></use>
						</svg>
					</div>
					{% endif %}
				</td>
				<td class="elencopsp__cf" >{{item.CodiceFiscale }}</td>
			</tr>
		{% endfor %}
	</tbody>

</table>