{% assign current_lang = page.lang | default: site.lang | default: 'it' %}
{% assign faq_source = include.source | default: 'faq' %}
{% assign faq = include.pagesource | default: site.data[faq_source][current_lang] %}
{% assign faq_grouped = faq | group_by: 'cat' | sort: 'name' %}
{% if include.filteredby %}
  {% assign faq_grouped = faq_grouped | where: "name", include.filteredby %}
{%endif%}
<div class="page-faq affix-parent">
{% unless include.narrow %}
<div class="affix-top float-right border-left col-md-4 ml-4 mt-4 d-none d-md-block" >
  <div class="p-3">
    <ul class="m-0 list-unstyled">
      <li class="font-weight-bold">Categorie FAQ</li>
      {% for i in faq_grouped %}
      <li class="my-2">
        <a href="#faq{{i.name| split: '|' | first}}">{{i.name | split: '|' | last}}</a>
      </li>
      {%endfor%}
    </ul>
  </div>
</div>
{%endunless%}
    <div class="">
      <div id="faq" class="pb-5">
    <div class="row justify-content-md-center {% unless include.narrow %}p-3{%endunless%}">
      <div class="col-12">
        {% assign findex =  0 %}
        {% for group in faq_grouped %}
          {% assign gindex =  forloop.index %}
          {% if gindex > 1 %}<div class="my-2 py-1"></div>{%endif%}

        {% unless include.filteredby %}
        <a name="faq{{group.name | split: '|' | first}}"></a>
        <h3 class="{% if include.narrow %}h4 {% endif %} {% if gindex == 1 %}mt-0{%endif%}">{{group.name | split: '|' | last}}</h3>
        {%endunless%}
        <div id="accordionDivFAQ{{gindex}}" class="collapse-faq collapse-div" role="tablist">
          {% for f in group.items %}
          {% capture findex %}{{ findex | plus: 1 }}{% endcapture %}
          <a name="n{{findex }}"></a>
          <div class="collapse-header" id="heading{{findex}}">
            <button data-toggle="collapse" data-nfaq="n{{findex}}" data-target="#accordion{{findex}}" aria-expanded="false" aria-controls="accordion{{findex}}">
              {{f.title}}
            </button>
          </div>
          <div id="accordion{{findex}}" class="collapse " role="tabpanel" aria-labelledby="heading{{findex}}" data-parent="#accordionDivFAQ{{gindex}}">
            <div class="collapse-body">
              {{f.body | markdownify }}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    
  </div><!--/container-->

</div><!--/page-faq-->