<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
          <video playsinline autoplay muted loop id="homevideo">
            <source src="/assets/videos/homevideo.mp4" type="video/mp4">
            <source src="/assets/videos/homevideo.webm" type="video/webm">
          </video>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc d-md-flex align-items-center">
          {{ page.hero_title }}</h1>
          <p class="pr-lg-5 mr-lg-5">
          {{ page.hero_description }}</p>
          <div class="it-btn-container">
            <a class="btn btn-sm btn-secondary px-3 px-md-5 mr-2 "
              href="{{ site.baseurl }}/it/cittadini/dove-pagare/">Dove pagare</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="videobuttons">
    <div class="container d-flex flex-column align-items-end">
      <a href="#" title="Ferma e riavvia il video" class="text-white playing" id="videocommand">
        <img src="/assets/images/pause.svg" class="videobuttons__pause" alt="pausa">
        <img src="/assets/images/play.svg" class="videobuttons__play" alt="avvia">
      </a>
    </div>
  </div>
</div>