<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <!--<img src="{{ site.baseurl }}/assets/images/jonas-leupe-426231-unsplash.jpg"
          title="Introduzione a pagopa" alt="Introduzione a pagopa">-->
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc d-md-flex align-items-center">
          {{ page.hero_title }}</h1>
          <p class="d-none d-lg-block pr-lg-5 mr-lg-5">
          {{ page.hero_description }}</p>
          <div class="it-btn-container">
            <a class="btn btn-sm btn-secondary px-3 px-md-5 mr-2 "
              href="{{ site.baseurl }}/it/cittadini/dove-pagare">Dove pagare</a>
            <a class="btn btn-sm btn-outline-white px-3 px-md-5"
              href="{{ site.baseurl }}/it/cittadini/dove-pagare">Guarda il video</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>