{% assign intermediari = site.data.intermediari['I'] | where_exp:"item", "item['Intermediario Partner'] != 'Totale complessivo'" | sort: "Intermediario Partner" %}
{% assign numintermediari = intermediari.size %}
{% assign division = numintermediari | divided_by:2.0 | ceil %}

<div class="my-2">
    <div class="row">
        {% for group in (1..2) %}
        {% assign groupset =  division | times: forloop.index0 %}
        <div class="col col-sm-6">
            <ul>
                {% for intermediario in intermediari limit: division offset: groupset %}
                <li class="small text-muted"><b>{{intermediario['Intermediario Partner']}}</b>
                    {% if intermediario['Conteggio di denominazione Ente'] != '' %}
                    <br>Enti intermediati: {{intermediario['Conteggio di denominazione Ente']}}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>