<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="sceltaPSP"
     aria-labelledby="sceltaPSP__title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="sceltaPSP__title">Come scegliere il gestore (PSP)
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="choosePSPTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Siti web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">App IO</a>
            </li>
        </ul>
        <div class="tab-content" id="choosePSPTabContent">
            <div class="tab-pane py-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="container-fluid">
                <div class="row">
                    <div class="col small">
                        <img alt="Immagine dimostrativa WISP" class="img-fluid mb-3"
                            srcset="
                            /assets/images/choosepsp/WISP-frame1@2x.jpg 2x,
                            /assets/images/choosepsp/WISP-frame1.jpg 1x
                            "
                            src="/assets/images/choosepsp/WISP-frame1.jpg 1x"
                            >
                        Prima di confermare il pagamento, consulta il costo applicato dal gestore. Per vedere costi alternativi, clicca sul link <strong>Modifica</strong>.
                    </div>
                    <div class="col small">
                        <img alt="Immagine dimostrativa WISP Selezione" class="img-fluid mb-3"
                            srcset="
                            /assets/images/choosepsp/WISP-frame2@2x.jpg 2x,
                            /assets/images/choosepsp/WISP-frame2.jpg 1x
                            "
                            src="/assets/images/choosepsp/WISP-frame2.jpg 1x"
                            >
                        Consulta la lista di tutti i gestori compatibili: <strong>puoi selezionare quello che preferisci, anche se non sei cliente!</strong>
                    </div>
                </div><!--/row-->
                </div><!--/container-fluid-->
            </div>
            <div class="tab-pane py-4 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="container-fluid">
                <div class="row">
                    <div class="col small">
                        <img alt="Immagine dimostrativa IO" class="img-fluid mb-3"
                            srcset="
                            /assets/images/choosepsp/IO-frame1@2x.jpg 2x,
                            /assets/images/choosepsp/IO-frame1.jpg 1x
                            "
                            src="/assets/images/choosepsp/IO-frame1.jpg 1x"
                            >
                            Prima di confermare il pagamento, consulta il costo applicato dal gestore. Per vedere costi alternativi, clicca sul link <strong>Modifica</strong>.
                    </div>
                    <div class="col small">
                        <img alt="Immagine dimostrativa IO Selezione" class="img-fluid mb-3"
                            srcset="
                            /assets/images/choosepsp/IO-frame2@2x.jpg 2x,
                            /assets/images/choosepsp/IO-frame2.jpg 1x
                            "
                            src="/assets/images/choosepsp/IO-frame2.jpg 1x"
                            >
                            Consulta la lista di tutti i gestori compatibili: <strong>puoi selezionare quello che preferisci, anche se non sei cliente!</strong>
                    </div>
                </div><!--/row-->
                </div><!--/container-fluid-->
            </div>
        </div><!--/tab-content-->
        <div class="py-2"></div>
      </div><!--/modal-body-->
    </div>
  </div>
</div>