{% assign rowsdettagli = site.data.partner-dettagli %}
{% assign intermediari = site.data.intermediari['PT']  %}
{% assign quadrosinottico = site.data.quadro-sinottico-servizi %}
{% assign rowsdettagli_filtered = rowsdettagli | sort: 'ragionesociale' %}
{% assign qsfilters = site.data.quadro-sinottico-servizi.items | where_exp: "item", "page.secondtypes contains item.type" | sort: 'label' %}

<div class="row">
<div class="col-12 col-lg-3">
    <div class="orderPartner">
        <div class="p-3">
            <div class="orderPartner__title" >
                Ordina per
                </div>
            <div class="form-check">
                <input name="gruppo1" class="orderPartner__radio" type="radio" id="radio1" value="0:asc" checked>
                <label for="radio1">Nome</label>
              </div>
              <div class="form-check">
                <input name="gruppo1" class="orderPartner__radio"  type="radio" id="radio2" value="1:desc">
                <label for="radio2">Enti intermediati</label>
              </div>
        </div>
    </div>
    <div class="filterPartner">
        <div class="rounded p-3">
            <div class="filterPartner__title" >
            Funzionalità offerte
            </div>
            <div class="filterPartner__select d-flex align-items-center " data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                <span class="mr-2">Seleziona una o più funzionalità</span>
                <svg class="icon icon-xs ml-auto filterPartner__expand"><use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg>
                <svg class="icon icon-xs ml-auto filterPartner__collapse"><use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-collapse"></use></svg>
            </div>
            <div class="collapse " id="collapseFilters" >
            <div class="my-2">
                {% for qs in qsfilters %}
                {% assign tableIndex = forloop.index0 | plus: 2 %}
                <div class="form-check ">
                    <input id="checkbox{{tableIndex}}" type="checkbox" class="filter-checkbox" value="{{tableIndex}}">
                    <label for="checkbox{{tableIndex}}">{{qs.label}}</label>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div><!--/col-lg-3-->
<div class="col-12 col-lg-9">
    <table id="partnertable" class="table table-responsive dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Enti intermediati</th>
                {% for qs in qsfilters %}
                <th data-visible="false">{{qs.label}} </th>
                {% endfor %}
                <th data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            {% for ptqualificato in rowsdettagli_filtered %}
                {% assign entintermediati = intermediari | where_exp:"item", "item['Codice Fiscale'] contains ptqualificato['CF']" | first %}
                <tr>
                    <td>{{ptqualificato.ragionesociale}}</td>
                    <td>{{entintermediati['Conteggio di denominazione Ente']}}</td>
                    {% for qs in qsfilters %}
                    <td  data-visible="false">{% if ptqualificato[qs.alias] %}1{%endif%}</td>
                    {% endfor %}
                    <td>
                        <a href="#"  data-toggle="modal" data-target="#modal{{forloop.index}}">
                            <svg class="icon icon-primary icon-sm"><use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use></svg>
                        </a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    
    </table>
</div><!--/col-lg-10-->
</div><!--/row-->

<div class="partner-table__list">
    {% for ptqualificato in rowsdettagli_filtered %}

        <div class="partner-table__detail modal fade" tabindex="-1" role="dialog" id="modal{{forloop.index}}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <div class="modal-title">{{ptqualificato.ragionesociale}}</div>
                     <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <svg class="icon icon-primary">
                           <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                        </svg>
                     </button>
                  </div>
                  <div class="modal-body pt-0">
                    {% assign entintermediati = intermediari | where_exp:"item", "item['Codice Fiscale'] contains ptqualificato['CF']" | first %}
                    <a href="../partner-qualificati/{{ptqualificato['CF']}}" class="partner-table__detail__number">{{entintermediati['Conteggio di denominazione Ente']}} Enti intermediati &rarr;
                    </a>
                    {% include tipi-qualificati.html
                        types=page.secondtypes
                        comparedata=ptqualificato
                        %}
                  </div>
               </div>
            </div>
        </div><!--/partner-table__detail-->
    {% endfor %}

</div><!--/partner-table__list-->



