<div>
    <a href="https://www.pagopa.gov.it/phishing" target="_blank" rel="noopener noreferrer"
        class="phishing-alert-link d-block py-3">
        <div class="container">
            <div class="small phishing-alert-link-inner">
                <img class="phishing-alert-link-icon" src="{{ site.baseurl }}/assets/images/WarningAmber.png"
                    alt="Attenzione" />
                <span class="phishing-alert-link-text">
                    Attenzione alle truffe online: scopri come riconoscere i tentativi di phishing a nome di pagoPA
                </span>&nbsp;&nbsp;→
            </div>
        </div>
    </a>
</div>