{% assign psp = site.data.output_elenco_servizi.content | find: "cf","page.cf" | first %}
{% assign services = psp.content | group_by: 'nome_servizio' %}
<div class="row">
	<div class="col-md-8 mb-2 mb-md-4">
		<h1 class="page-title" >Costi applicati da {{ page.title_hero | default: page.title }}</h1>
	</div>
</div>
<div class="sidebar-wrapper it-line-left-side">
  <h3 class="no_toc">FILTRA PER METODO</h3>
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">
        {% for service in services %}
        <li>
          <a class="list-item medium" href="#{{service.name}}"><span>{{service.name}}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>