<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script src="{{ site.baseurl }}/assets/fonts.js"></script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/vendors/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap-italia/dist/js/bootstrap-italia.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/main.js"></script>

<!-- Custom --->
{% if page.usedatatables == true %}
    <script src="{{ site.baseurl }}/assets/vendors/datatables/datatables.min.js"></script>
    <script src="{{ site.baseurl }}/assets/datatables/datatables-it.js"></script>
{% endif %}
{% if page.ref == 'dashboard' %}
    <link href="{{ site.baseurl }}/assets/dashboard/app/js/app.js" rel="preload" as="script">
    <link href="{{ site.baseurl }}/assets/dashboard/app/js/chunk-vendors.js" rel="preload" as="script">

    <script src="{{ site.baseurl }}/assets/dashboard/app/js/chunk-vendors.js"></script>
    <script src="{{ site.baseurl }}/assets/dashboard/app/js/app.js"></script>
{% endif %}
