{% assign buildTime = site.time | date: '%Y%m%d%H%M' %}

<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script src="{{ site.baseurl }}/assets/fonts.js"></script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/vendors/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendors/popper.min.js"></script>

<script src="{{ site.baseurl }}/assets/vendors/js.cookie.min.js"></script>

<script src="{{ site.baseurl }}/assets/bootstrap-italia/dist/js/bootstrap-italia.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}{{'/assets/main.js?' | append: buildTime }}"></script>
<script src="{{ site.baseurl }}/assets/animate.js"></script>

<!-- Custom --->
{% if page.handlebars == true %}
<script src="{{ site.baseurl }}/assets/vendors/handlebars.js"></script>
{% endif %} {% if page.usedatatables == true %}
<script src="{{ site.baseurl }}/assets/vendors/datatables/datatables.min.js"></script>
<script src="{{ site.baseurl }}/assets/datatables-it.js"></script>
{% endif %} {% if page.ref == 'homepage' or page.ref == 'dashboard' %}
<script
  defer=""
  crossorigin=""
  nomodule=""
  src="{{ site.baseurl }}/assets/dashboard/_next/static/chunks/polyfills.js"
></script>
<script
  src="{{ site.baseurl }}/assets/dashboard/_next/static/chunks/webpack.js"
  defer=""
  crossorigin=""
></script>
<script
  src="{{ site.baseurl }}/assets/dashboard/_next/static/chunks/main.js"
  defer=""
  crossorigin=""
></script>
<script
  src="{{ site.baseurl }}/assets/dashboard/_next/static/chunks/pages/_app.js"
  defer=""
  crossorigin=""
></script>
{% endif %} {% if page.ref == 'cittadini-trasparenza-costi' %}
<script src="{{ site.baseurl }}/assets/trasparenza-costi.js"></script>
{% endif %} {% if page.js %} {% for script in page.js %}
<script
  src="{{ site.baseurl }}{{script.url}}"
  charset="UTF-8"
  {%
  if
  script.id
  %}id="{{script.id}}"
  {%
  endif
  %}
></script>
{% endfor %} {% endif %}
