<div class="component-dashboard px-3 px-md-0">
    <h3 class="heading-border-bottom pb-2 d-flex align-items-end align-items-lg-center">
        I nostri numeri
        <a href="/it/dashboard/" class="text-primary read-more ml-auto" title="Dashboard">Vedi tutti &rarr;</a>
    </h3>
    <div class="d-md-flex my-3">
        <div id="__nuxt">
            <!---->
            <div id="__layout">
                <section class="d-md-flex">
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span>#</span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Tasso di crescita
                        </div>
                    </div>
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span></span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Transazioni pagoPA nel 2021
                        </div>
                    </div>
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span></span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Controvalore economico
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script defer src="/assets/dashboard/app/static/timestamp/state.js"></script>
    </div>
</div>
