<div class="component-dashboard px-3 px-md-0">
    <h3 class="heading-border-bottom pb-2 d-flex align-items-end align-items-lg-center">
        I nostri numeri
        <a href="/it/dashboard/" class="text-primary read-more ml-auto" title="Dashboard">Vai alla Dashboard &rarr;</a>
    </h3>
    <div class="d-md-flex my-3">
        <div class="component-dashboard__item">
            <div class="component-dashboard__item__value">
                +92%
            </div>
            <div class="component-dashboard__item__desc">
                Tasso di crescita
            </div>
        </div><!--/item-->
        <div class="component-dashboard__item">
            <div class="component-dashboard__item__value">
                66.990.020
            </div>
            <div class="component-dashboard__item__desc">
                Transazioni pagoPA nel 2021
            </div>
        </div><!--/item-->
        <div class="component-dashboard__item">
            <div class="component-dashboard__item__value">
                €12.501.880.939
            </div>
            <div class="component-dashboard__item__desc">
                Controvalore economico
            </div>
        </div><!--/item-->
    </div>
</div>