<div class="component-dashboard px-3 px-md-0">
    <h3 class="heading-border-bottom pb-2 d-flex align-items-end align-items-lg-center">
        I nostri numeri
        <a href="/it/numeri/" class="text-primary read-more ml-auto" title="Dashboard">Vedi tutti &rarr;</a>
    </h3>
    <div class="d-md-flex my-3">
        <div id="__nuxt">
            <!---->
            <div id="__layout">
                <section class="d-md-flex">
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span></span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Transazioni pagoPA nel 2023
                        </div>
                    </div>
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span></span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Controvalore economico
                        </div>
                    </div>
                    <div class="mr-md-5">
                        <div class="h2 mt-3 primary-color"><span>#</span></div>
                        <div class="analogue-1-color-a12 font-weight-semibold">
                            Tasso di crescita vs 2022
                            <span tabindex="0" data-toggle="tooltip"
                                data-original-title="Confronto fra il periodo 1 gennaio - 7 marzo 2023 rispetto allo stesso periodo del 2022"><svg
                                    class="icon icon-xs icon-black mb-1">
                                    <use href="/assets/dashboard/app/img/sprite.24be170.svg#it-info-circle"></use>
                                </svg></span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script defer src="/assets/dashboard/app/static/timestamp/state.js"></script>
    </div>
</div>
