<div class="component-footer-banner">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-5">
                <div class="component-footer-banner__title">{{page.footerbanner.title}}</div>
                <div class="component-footer-banner__desc">{{page.footerbanner.desc | markdownify}}</div>
                <div class="component-footer-banner__cta text-center">
                    <a title="{{page.footerbanner.title}}" href="{{page.footerbanner.url}}"
                    class="btn btn-sm btn-outline-primary text-uppercase">{{page.footerbanner.cta}}</a>
                </div>
            </div>
        </div>
    </div>
</div>