{% assign posts = site.posts | where: "lang", page.lang  %}
<div class="component-posts">
    <h3 class="heading-border-bottom pb-2">Ultime notizie</h3>
    <div class="row">
    {% for post in posts limit:3 %}
        <div class="component-posts__item col-12 col-lg-4">
            <div class="component-posts__item__date">{% include date.html date=post.date %}</div>
            <div class="component-posts__item__title">{{post.title}}</div>
            <div class="component-posts__item__read">
                <a href="{{ site.baseurl }}{{ post.url }}" 
                   title="Leggi {{post.title | inspect}}"
                   class="text-primary read-more">Leggi di più &rarr;
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>