{% assign posts = site.posts | where: "lang", page.lang  %}
<div class="component-posts px-3 px-md-0">
    <h3 class="heading-border-bottom pb-2 d-flex align-items-end align-items-lg-center">
        Ultime notizie
        <a href="/it/notizie/" class="text-primary read-more ml-auto" title="Vedi tutte le notizie">Vedi tutte &rarr;</a>
    </h3>
    <div class="row">
    {% for post in posts limit:3 %}
        <article class="component-posts__item col-12 col-lg-4 d-flex flex-column">
            {% if post.image %}
            <div class="component-posts__item__img my-3">
                        <img src="{{post.image}}" class="img-fluid" alt="{{post.title | escape}}">
            </div>
            {%endif%}
            <div class="component-posts__item__date ">{% include date.html date=post.date %}</div>
            <div class="component-posts__item__title my-2 pr-2">{{post.title}}</div>
            <div class="component-posts__item__read py-3 mt-auto">
                <a href="{{ site.baseurl }}{{ post.url }}" 
                   title="Leggi {{post.title | inspect}}"
                   class="text-primary read-more">Leggi di più &rarr;
                </a>
            </div>
        </article>
    {% endfor %}
    </div>
</div>