{% assign columns = include.columns | default: 3 %}

<div class="component-grid {{include.css_wrapper}}">
    <div class="d-lg-flex align-items-stretch flex-wrap component-grid__container">
        {% for item in include.source %}
        <div class="component-grid__item by-{{columns}}">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card {% unless item.noshadow %}card-bg{%endunless%} card-big">
                <div class="card-body">
                    {% if item.img %}
                    <div class="top-icon">
                        <img src="{{item.img}}" alt="Icona {{item.title | escape}}">
                    </div>
                    {% endif %}
                    {% if item.pretitle %}
                    <div class="card-pretitle">{{item.pretitle}}</div>
                    {% endif %}
                    <h5 class="card-title">{{item.title}}</h5>
                    {% if item.desc %}
                        <div class="card-text text-sans-serif">{{item.desc | markdownify}}</div>
                    {% endif %}
                    {% if item.buttons %}
                        {% for button in item.buttons %}
                        <div class="my-3">
                            <a href="{{button.url}}" 
                               class="btn btn-xs btn-primary d-lg-block text-uppercase px-5"
                               title="{{button.label | escape}}">{{button.label}}</a>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if item.more %}
                    <a class="read-more {{item.more.css}}" href="{{item.more.url }}">
                    <span class="text">{{item.more.label }}</span>
                    <svg class="icon">
                        <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                    </svg>
                    </a>
                    {% endif %}
                </div>
                </div>
            </div>
            <!--end card-->
        </div>
        {% endfor %}
    </div>
</div>