
{% assign where_field = site.data.psp-pagamenti %}
<form class="needs-validation psp-compare" id="psp-compare">
  <div class="component-grid-by-step my-4 my-md-5">
    <div class="row">
      <div class="component-grid-by-step__singlestep col-lg pr-lg-3 with-border">
      <div class="component-grid-by-step__inner">
        <div class="component-grid-by-step__number float-left float-lg-none mr-2">01
        </div>
        <div class="component-grid-by-step__title">Qual è l'importo da pagare?</div>
        <div class="form-group">
          <input type="number" class="form-control mt-5" 
                 min="1" max="99999999"
                 id="psp-compare__amount" required>
          <label for="psp-compare__amount">Digita un importo</label>
          <div class="invalid-feedback">Devi inserire un importo</div>
        </div>
      </div><!---/inner-->
      </div><!--/singlestep-->
      <div class="component-grid-by-step__singlestep col-lg pr-lg-3 with-border">
      <div class="component-grid-by-step__inner">
        <div class="component-grid-by-step__number float-left float-lg-none mr-2">02
        </div>
        <div class="component-grid-by-step__title">Dove preferisci pagare?</div>
        <div class="form-group">
          <div class="bootstrap-select-wrapper mt-5">
            <label>Scegli dove pagare</label>
            <select title="Seleziona..." class="form-control" id="psp-compare__where" required>
              {% for item in where_field %}
                <option for="psp-compare__where" value="{{item['name']}}"
                        data-actived="{% for n in item['active'] %}{{n}},{%endfor%}">{{item['label'] | default: item['name']}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
      </div><!---/inner-->
      </div><!--/singlestep-->
      <div class="component-grid-by-step__singlestep col-lg pr-lg-3 with-border">
      <div class="component-grid-by-step__inner">
        <div class="component-grid-by-step__number float-left float-lg-none mr-2">03
        </div>
        <div class="component-grid-by-step__title">Con quale metodo vuoi pagare?</div>
        <div class="form-group">
          <div class="bootstrap-select-wrapper mt-5 disabled psp-compare__by__wrapper">
            <label>Scegli come pagare</label>
            <select title="" class="form-control" id="psp-compare__by" disabled required>
            </select>
          </div>
        </div>
      </div><!---/inner-->
      </div><!--/singlestep-->
      <div class="component-grid-by-step__singlestep col-lg pr-lg-3 ">
        <div class="component-grid-by-step__inner">
        <span  class="col-12 col-md-4 col-lg-4" >
          <button id="psp-compare__submit" type="submit" class="btn btn-primary btn-sm btn-icon mr-4" disabled>
            <span>Mostra risultati</span>
            <svg class="icon icon-white ml-2">
            <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
            </svg>
          </button>
          Ricomincia
        </span>
        </div><!---/inner-->
      </div><!--/singlestep-->
    </div><!---/row-->
  </div>
</form>