{% assign current_lang_menu_pages = site.data.t.navigation[page.lang] %}
{% assign toprightlinks = site.data.t.topright-links[page.lang] %}


<div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href="/" title="Torna in home">
                <img class="" id="mainlogo" src="{{ site.baseurl }}/assets/images/logo-pagopa-bianco.svg" alt="pagoPA">
              </a>
            </div>
            <div class="it-right-zone flex-column">
              <div class="it-helpdesk d-md-flex">
                <div class="it-btn-container">
                  <a class="d-none d-lg-block it-helpdesk-anchor" href="{{ site.baseurl }}/it/helpdesk/"
                     title="Visita la pagina di aiuto all'uso della piattaforma">
                  <span class="mr-2">Serve aiuto?</span>
                  <svg class="icon icon-primary it-helpdesk-icon d-none d-lg-inline" aria-hidden="true">
                    <use
                      xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-comment">
                    </use>
                  </svg>
                  </a>
                  {% unless page.ref == 'cittadini-dove-pagare' %}
                  <a role="button" class="d-block d-lg-none btn btn-sm btn-white py-1 px-3 text-primary" rel="nofollow" href="https://checkout.pagopa.it/"
                     title="Paga online">
                  <span class="">Paga</span>
                  </a>
                  {% endunless %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-header-navbar-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg has-megamenu">
            <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false"
              aria-label="Toggle navigation" data-target="#nav10">
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
              </svg>
            </button>
            <div class="navbar-collapsable" id="nav10">
              <div class="overlay"></div>
              <div class="close-div sr-only">
                <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
              </div>
              <div class="menu-wrapper d-flex d-lg-block flex-column">
                <ul class="navbar-nav">
                  {% for menu_page in current_lang_menu_pages %}
                  {% assign menu_page_data = menu_page | last %}
                  {% assign menu_page_ref = menu_page | first %}
                  {% comment %}
                  Le pagine che vengono incluse in questo sottomenù sono un sottoinsieme di tutte le pagine del sito
                  che:
                  - hanno la stessa lingua della pagina corrente
                  - NON hanno attributo not_on_menu
                  - hanno l'attributo "order" valorizzato
                  - hanno l'attributo "child_of_ref" uguale a `menu_page.ref` attuale (sono quindi figlie di
                  `menu_page`)
                  {% endcomment %}
                  {% assign current_lang_menu_child_pages = site.pages | where: "lang", page.lang | where_exp: "page", "page.not_on_menu != true" | where_exp: "page", "page.order != nil" | where: "child_of_ref", menu_page_ref | sort: "order" %}
                  {% if current_lang_menu_child_pages.size == 0 %}
                    {% unless page.ref == menu_page_data.condition_unless_ref %}
                    <li class="nav-item {{menu_page_data.css}}">
                      <a class="nav-link" href="{{menu_page_data.url}}" 
                        {%if menu_page_data.role %}role="menu_page_data.role" {%endif%}
                        title="{{menu_page_data.name}}">
                        <span class="{{menu_page_data.css_inner}}">{{menu_page_data.name}}</span>
                      </a>
                    </li>
                    {% endunless %}
                  {% else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                      <span>{{menu_page_data.name}}</span>
                      <svg class="icon icon-xs ml-2">
                        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand">
                        </use>
                      </svg>
                    </a>
                    <div class="dropdown-menu">
                      <div class="link-list-wrapper">
                        <ul class="link-list py-3">
                          {% for menu_child_page in current_lang_menu_child_pages %}
                            <li class="">
                              <a class="list-item"
                                  href="{{ site.baseurl }}{{menu_child_page.url}}"><span>{{menu_child_page.title}}</span></a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                <ul class="navbar-nav navbar-other mt-auto mb-3 d-lg-none">
                  <li class="nav-item py-0 ">
                    <a class="nav-link  px-3 py-2 font-weight-normal" href="{{ site.baseurl }}/it/helpdesk/" title="Visita la pagina di aiuto all'uso della piattaforma">Serve aiuto?</a>
                  </li>
                  <li class="nav-item py-0 ">
                    <a class="nav-link  px-3 py-2 font-weight-normal" href="https://www.pagopa.it" title="Visita il sito web aziendale">PagoPA S.p.A.</a>
                  </li>
                  {% for link in toprightlinks %}
                    {% assign linkdata = link | last %}
                    <li class="nav-item py-0">
                      <a class="nav-link  px-3 py-2 font-weight-normal" href="{{linkdata.url}}" title="{{linkdata.name}}">{{linkdata.name}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>