<div class="it-header-slim-wrapper theme-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand"
            href="/it/pagopa-spa/societa-trasparente/selezione-del-personale/reclutamento-del-personale/lavora-con-noi/"><b>Lavora
              con noi</b></a>

          <nav class="navbar-institutional navbar navbar-expand-lg navbar-dark py-1 px-3">
            <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false"
              aria-controls="menu1">
              <span>{{ site.data.t.author[page.lang] }}</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
              </svg>
            </a>
            <div class="collapse navbar-collapse" id="menu1">

              <ul class="navbar-nav ml-auto mr-0 border-right-0">
                <li class="nav-item nav-item-w-divider">
                  <a class="nav-link font-weight-bold" href="/fondoinnovazione/">Fondo Innovazione</a>
                </li>
                <li class="nav-item nav-item-w-divider">
                  <a class="nav-link" href="https://pianotriennale-ict.italia.it/">Piano Triennale</a>
                </li>
                <li class="nav-item nav-item-w-divider">
                  <a class="nav-link" href="https://io.italia.it/">IO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://forum.italia.it/">Forum</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>