{% assign toprightlinks = site.data.t.topright-links[page.lang] %}
<div class="it-header-slim-wrapper d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" title="Visita il sito aziendale"
            href="https://www.pagopa.it">PagoPA S.p.A.</a>

          <nav class="navbar-institutional navbar navbar-expand-lg navbar-dark py-1">
            <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false"
              aria-controls="menu1">
              <span>{{ site.data.t.author[page.lang] }}</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
              </svg>
            </a>
            <div class="collapse navbar-collapse" id="menu1">
              <ul class="navbar-nav ml-auto mr-0 border-right-0">
                {% for link in toprightlinks %}
                {% assign linkdata = link | last %}
                <li class="nav-item py-0 py-md-3 {% unless forloop.last or linkdata.name == 'SEND' %}nav-item-w-divider{%endunless%}">
                  <a class="nav-link text-white px-0 py-2 py-md-0 px-md-3" href="{{linkdata.url}}" title="{{linkdata.name}}">{{linkdata.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>