<h2 class="mt-5">{{ site.data.t.newsletter[page.lang].title }}</h2>
<form method="GET" action="https://{{ site.mailup_campaign }}.emailsp.com/frontend/subscribe.aspx"
  class="newsletter-form">
  <input type="hidden" name="list" value="{{ site.mailup_list }}">
  <div class="form-group my-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><svg class="icon icon-sm icon-primary">
            <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
          </svg></div>
      </div>
      <label for="email">{{ site.data.t.newsletter[page.lang].placeholder }}</label>
      <input type="email" class="form-control" id="email" name="email">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">{{ site.data.t.newsletter[page.lang].submit_button }}</button>
      </div>
    </div>
  </div>
</form>
<p class="text-center">
  <small>{{ site.data.t.newsletter[page.lang].disclaimer }}</small>
</p>