<h2 class="mt-5">{{ site.data.t.newsletter[page.lang].title }}</h2>
<form method="POST" action="#" id="newsletter-form"
  class="newsletter-form">
  <div class="g-recaptcha"
      data-sitekey="{{site.google_captcha}}"
      data-callback="submitNewsletter"
      data-size="invisible">
</div>
  <input type="hidden" name="list" value="{{ site.mailup_list }}">
  <div class="form-group my-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><svg class="icon icon-sm icon-primary">
            <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
          </svg></div>
      </div>
      <label for="email">{{ site.data.t.newsletter[page.lang].placeholder }}</label>
      <input type="email" class="form-control" id="email" name="email">
      <div class="input-group-append">
        <button class="btn btn-primary" id="newsletter-button" 
        type="submit">{{ site.data.t.newsletter[page.lang].submit_button }}</button>
      </div>
    </div>
    <div class="bg-success rounded p-2 small shadow my-4 text-white  text-center" style="display:none"  role="alert" id="newsletter-ok">
      Iscrizione alla newsletter avvenuta con successo!
    </div>
    <div class="bg-warning rounded p-2 small shadow my-4 text-white text-center" style="display:none" role="alert" id="newsletter-ko">
      Ci sono problemi di comunicazione col sistema, non siamo riusciti a iscriverti alla newsletter. Riprova più tardi
    </div>
  </div>
</form>
<p class="text-center">
  <small class="font-weight-bold">{{ site.data.t.newsletter[page.lang].disclaimer }}</small><small class="text-discreet"> &middot; Form protetto tramite reCAPTCHA e Google 
  (<a href="https://policies.google.com/privacy" target="_blank" class="text-discreet">Privacy Policy</a> e
  <a href="https://policies.google.com/terms" target="_blank" class="text-discreet">Termini di servizio</a>)</small>
</p>
