---
layout: default
---

<div class="container my-2">
  {%- include breadcrumbs.html -%}
</div>

<div class="container my-4">
  <h2>{{ page.title }}
    {% if page.archived==true %}
    <span class="badge badge-secondary">closed</span>
    {% endif %}
  </h2>

  <div class="float-md-right bg-light p-2 p-md-4 my-2 mx-md-4" style="font-size: 0.888rem">
    Data apertura: <b>{{page.metadata.apertura}}</b><br>
    {% if page.metadata.chiusura %}
    Data chiusura: <b>{{page.metadata.chiusura}}</b><br>
    {% endif %}
    {% if page.metadata.numricercate %}
    Persone ricercate: <b>{{page.metadata.numricercate}}</b><br>
    {% endif %}
    {% if page.metadata.numassunte %}
    Persone assunte: <b>{{page.metadata.numassunte}}</b>
    {% endif %}
  </div>
  {{ content }}

  {% include jazzhr.html %}

  {% if page.pec_cv %}
  <h3>{{ site.data.t.JobApply[page.lang] }}</h3>
  Per candidarti a questa posizione puoi inviare il tuo CV all'indirizzo
  <a href="mailto:jobs@pagopa.it">jobs@pagopa.it</a> insieme ai tuoi recapiti e ad una lettera di
  presentazione.
  {% endif %}

  <hr />
</div>