---
layout: default
---

<div class="container my-2">
  {%- include breadcrumbs.html -%}
</div>

{% assign section = breadcrumbs[0] | default: page %}

<article class="container my-4">
  <div class="row">
    <div class="col-12{% if page.layout_wide == nil %} col-lg-8{% endif %}">
      <div class="mx-md-3">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>

        <div class="entry">
          {{ content }}
        </div>
      </div>
    </div>
    {% if page.layout_wide == nil %}
    <div class="col-12 col-lg-4">
      <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-left-side affix-top">
        <button class="custom-navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation" data-target="#navbarNav"><span class="it-list"></span>Menu
        </button>
        <div class="navbar-collapsable" id="navbarNav">
          <div class="overlay"></div>
          <div class="close-div sr-only">
            <button class="btn close-menu" type="button"><span class="it-close"></span>Chiudi</button>
          </div>
          <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
            </svg><span>Indietro </span></a>
          <div class="menu-wrapper">
            <div class="link-list-wrapper">
              <h3 class="no_toc">{{ section.title }}</h3>
              <ul class="link-list">
                <li class="nav-item active">

                  <a class="nav-link {% if section.url == page.url %}active{% endif %}"
                    href="{{ site.baseurl }}{{ section.url }}"><span>{{ section.title }}</span></a>

                  {% assign items = site.pages | where: "child_of_ref", section.ref | where: "lang", page.lang | sort: "order" %}
                  {% for item in items %}
                  <a class="nav-link {% if item.url == page.url %}active{% endif %}"
                    href="{{ site.baseurl }}{{ item.url }}"><span>{{ item.title }}</span></a>
                  {% endfor %}

                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    {% endif %}

  </div>
</article>
