---
layout: default
---

{% if page.breadcrumbs %}
<div class="container my-2">
  <nav class="breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for item in page.breadcrumbs %}
      {% for i in item %}
      <li class="breadcrumb-item"><a href="{{ i[0] }}">{{ i[1] }}</a><span class="separator">&gt;</span>
      </li>
      {% endfor %}
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</div>
{% endif %}

<article class="container my-4">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>