---
layout: default
---
{% assign partner = site.data.partner-dettagli | where_exp:"item","item['ragionesociale'] == page.title" | first %}
{% assign enti = site.data.ec_pt | where_exp: "item", "item['Codice Fiscale'] contains partner['CF']"  %}
{% assign enti_group = enti | sort: "denominazione Ente" | group_by_exp: "name","name['denominazione Ente'] | slice: 0,1"  %}

<div class="{% if page.layout_extra == nil %}container{%endif%} my-2">
  {%- include breadcrumbs.html -%}
</div>

{% assign section = breadcrumbs[0] | default: page %}

<article class="{% if page.layout_extra == nil %}container{%endif%} my-4">
  <div class="row">
    <div class="col-12">
      <div class="mx-md-3">
        <h1>{{ page.title }}</h1>
        <p class="lead">Partner qualificato con {{enti.size}} enti intermediati</p>

        <div class="entry">
         <div class="row">
            {% for letter in enti_group %}
            <h3 class="col-12 py-3 border-bottom">{{letter['name']}}</h3>
            <hr>
            {% for ente in letter['items'] %}
                <div class="col-12 col-md-4 py-md-2">
                    <div class="pr-md-4">{{ente['denominazione Ente']}}</div>
                </div>
            {% endfor %}
            {% endfor %}
         </div>
        </div>
      </div>
    </div>
    

  </div>
</article>
