---
layout: default
---
<style>
  .card .card-body li {
    font-size: .88889rem;
    line-height: 1.33333rem;
    font-family: Lora,Georgia,serif;
    font-size: .875rem;
    line-height: 1.2rem;
    color: #435a70;
  }


</style>
<div class="{% if page.layout_extra == nil %}container{%endif%} my-2">
  {%- include breadcrumbs.html -%}
</div>

{% assign section = breadcrumbs[0] | default: page %}
<article class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon"></div>
          <div class="etichetta">
            <svg class="icon">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
            </svg>
            <span>{% include date.html date=page.date %}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <p class="card-text">{{ content }}</p>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
  </div>
  {% include disqus.html %}
</article>
