---
layout: default
---


<div class="container my-2 my-md-4">
  {%- include breadcrumbs.html -%}
</div>
{% if page.local_navigation %}
  {% assign section = breadcrumbs[-1] | default: breadcrumbs[0] | default: page %}
{% elsif page.local_navigation_index %}
  {% assign section = page %}
{% else %}
  {% assign section = breadcrumbs[0] | default: page %}
{% endif %}
<article class="postapage {% if page.layout_extra == nil %}container{%endif%} my-4">
  <div class="row ">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="mx-3 mx-lg-5">
        <div class="postpage__date">{% include date.html date=page.date %}</div>
        {% unless page.omit_pagehead %}
          {% unless page.omit_title %}
            <h1 class="page-title" >{{ page.title_hero | default: page.title }}</h1>
          {%endunless%}
          {% if page.description %}
            <div class="page-desc">{{ page.description | markdownify }}</div>
          {% endif %}
        {% endunless %}
      </div>
    </div><!--col-8-->
  </div><!--row-->
  {% if page.image %}
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="postpage__img mx-lg-3">
      <img src="{{page.image}}" alt="{{page.title | escape}}" >
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row  align-items-center">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="postpage__entry entry mx-3 mx-lg-5">
        {{ content }}
      </div>
    </div>
  </div><!--/row-->
  {% if page.faq %}
  <div class="postpage__faq row my-4">
    <div class="col-12 col-lg-10 offset-lg-1">
    <div class="mx-3">
    {% include faq.html source=page.faq narrow=true %}
    </div>
    </div>
  </div>

  {%endif%}
</article>
{% if page.footerbanner %}
  {% include components/footer-banner.html %}
{% endif %}


{%comment%}
<div class="{% if page.layout_extra == nil %}container{%endif%} my-2">
  {%- include breadcrumbs.html -%}
</div>

{% assign section = breadcrumbs[0] | default: page %}
<article class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon"></div>
          <div class="etichetta">
            <svg class="icon">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
            </svg>
            <span>{% include date.html date=page.date %}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <p class="card-text">{{ content }}</p>
            {% if page.attachment %}
            <div class="mt-2">
              {% for att in page.attachment %}
                <a href="{{att.url}}" title="Allegato" class="btn btn-sm btn-outline-primary mr-1 mb-1 d-block d-md-inline-block">{{att.label | defulat: "Allegato"}}</a>
              {%endfor%}
          </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
  </div>
  {% include disqus.html %}
</article>
{%endcomment%}